<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:titulo) %></title>
    <% #yield se puede usar en cualquier archivo erb y se puede renderizar el contenido especificado con "provide" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% #Turbolinks hace que se carhe mas rapido los enlaces por que no carga todo el contenido, solamente partes de la hoja %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
  </body>
</html>
<% #assets pipelines: se encarga de la gestion de css y jabascript y todo lo relacionado con el preprocesamiento. %>
